<div class="container" id="login">

      <form class="form-signin" (submit)="onSubmit(data)">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" [(ngModel)]="data.email" name="email" class="input-block-level" placeholder="Email address">
        <input type="password" [(ngModel)]="data.password" name="password" class="input-block-level" placeholder="Password">
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-large btn-primary" type="submit" >Sign in</button>
      </form>

    </div> 