<div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">HOMEDirect Online</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right">
                            <li class="dropdown">
                                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-user"></i> Username <i class="caret"></i>

                                </a>
                                <ul class="dropdown-menu">
                                   
                                    <li>
                                        <a tabindex="-1" href="login.html">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                       
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">

            <div ng-include="'myFile.htm'"></div>

                <div class="span3" id="sidebar">
                    <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
                        <li class="active">
                            <a href="/"><i class="icon-chevron-right"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="/inquiry"><i class="icon-chevron-right"></i> Inquiry Services</a>
                        </li>
                        <li>
                            <a href="/statement"><i class="icon-chevron-right"></i> Mini Statement</a>
                        </li>
                        <li>
                            <a href="/transfers"><i class="icon-chevron-right"></i> transaction services</a>
                        </li>
                        <li>
                            <a href="/bills"><i class="icon-chevron-right"></i> Bill payment</a>
                        </li>
                        
                    </ul>
                </div>
                
                <!--/span-->
                <div class="span9" id="content">
                    <div class="row-fluid">
                       
                        	
                    	</div>
                    	<br>
                    	<br>
                   <div class="row-fluid">
                        <!-- block -->

 <form class="form-horizontal">
                                      <fieldset>
                                        <legend>Date Range</legend>
                                       
                                        <div class="control-group error">
                                          <label class="control-label" for="inputError">From</label>
                                          <div class="controls">
                                            <input type="text">
                                          </div>
                                        </div>
                                        <div class="control-group error">
                                          <label class="control-label" for="inputError">To</label>
                                          <div class="controls">
                                            <input type="text" >
                                          </div>
                                        </div>
                                     
                                        <div class="form-actions">
                                          <button type="submit" class="btn btn-primary">Show Statement</button>
                                        </div>
                                      </fieldset>
                                    </form>


                        <div class="block">
                            <div class="navbar navbar-inner block-header">
                                <div class="muted pull-left">Condensed Table</div>
                            </div>
                            <div class="block-content collapse in">
                                <div class="span12">
  									<table class="table table-condensed">
						              <thead>
						                <tr>
						                  <th>#</th>
						                  <th>action</th>
						                  <th>Type</th>
						                  <th>Date</th>
						                  <th>Status</th>
						                </tr>
						              </thead>
						              <tbody>
						                <tr>
						                  <td>1</td>
						                  <td>Withdrawal</td>
						                  <td>Otto</td>
						                  <td>@mdo</td>
						                  <td>@mdo</td>
						                </tr>
						                <tr>
						                  <td>2</td>
						                  <td>deposit</td>
						                  <td>Thornton</td>
						                  <td>@fat</td>
						                  <td>@mdo</td>
						                </tr>
						                <tr>
						                  <td>3</td>
						                  <td>withrawal</td>
						                  <td>the Bird</td>
						                  <td>@twitter</td>
						                  <td>@mdo</td>
						                </tr>
						                <tr>
						                  <td>3</td>
						                  <td>withrawal</td>
						                  <td>the Bird</td>
						                  <td>@twitter</td>
						                  <td>@mdo</td>
						                </tr><tr>
						                  <td>3</td>
						                  <td>withrawal</td>
						                  <td>the Bird</td>
						                  <td>@twitter</td>
						                  <td>@mdo</td>
						                </tr><tr>
						                  <td>3</td>
						                  <td>withrawal</td>
						                  <td>the Bird</td>
						                  <td>@twitter</td>
						                  <td>@mdo</td>
						                </tr><tr>
						                  <td>3</td>
						                  <td>withrawal</td>
						                  <td>the Bird</td>
						                  <td>@twitter</td>
						                  <td>@mdo</td>
						                </tr><tr>
						                  <td>3</td>
						                  <td>withrawal</td>
						                  <td>the Bird</td>
						                  <td>@twitter</td>
						                  <td>@mdo</td>
						                </tr><tr>
						                  <td>3</td>
						                  <td>withrawal</td>
						                  <td>the Bird</td>
						                  <td>@twitter</td>
						                  <td>@mdo</td>
						                </tr><tr>
						                  <td>3</td>
						                  <td>withrawal</td>
						                  <td>the Bird</td>
						                  <td>@twitter</td>
						                  <td>@mdo</td>
						                </tr><tr>
						                  <td>3</td>
						                  <td>withrawal</td>
						                  <td>the Bird</td>
						                  <td>@twitter</td>
						                  <td>@mdo</td>
						                </tr><tr>
						                  <td>3</td>
						                  <td>withrawal</td>
						                  <td>the Bird</td>
						                  <td>@twitter</td>
						                  <td>@mdo</td>
						                </tr>
						              </tbody>
						            </table>
                                </div>
                            </div>
                        </div>
                        <!-- /block -->
                    </div>
                  
            <hr>
            <footer>
                <p>&copy; HOMEDirect</p>
            </footer>
        </div>