<div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">HOMEDirect Online</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right">
                            <li class="dropdown">
                                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-user"></i> Username <i class="caret"></i>

                                </a>
                                <ul class="dropdown-menu">
                                   
                                    <li>
                                        <a tabindex="-1" href="login.html">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                       
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">

            <div ng-include="'myFile.htm'"></div>

                <div class="span3" id="sidebar">
                    <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
                        <li class="active">
                            <a href="/"><i class="icon-chevron-right"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="/inquiry"><i class="icon-chevron-right"></i> Inquiry Services</a>
                        </li>
                        <li>
                            <a href="/statement"><i class="icon-chevron-right"></i> Mini Statement</a>
                        </li>
                        <li>
                            <a href="/transfers"><i class="icon-chevron-right"></i> transaction services</a>
                        </li>
                        <li>
                            <a href="/bills"><i class="icon-chevron-right"></i> Bill payment</a>
                        </li>
                         <li>
                            <a href="/login88"><i class="icon-chevron-right"></i> logout</a>
                        </li>
                        
                    </ul>
                </div>
                
                <!--/span-->
                <div class="span9" id="content">
                    <div class="row-fluid">
                       
                        	
                    	</div>
                    	<br>
                    	<br>
                    <div class="row-fluid">
                        <!-- block -->
                        <div class="block">
                            <div class="navbar navbar-inner block-header">
                                <div class="muted pull-left">Statistics</div>
                                <div class="pull-right"><span class="badge badge-warning">View More</span>

                                </div>
                            </div>
                            <div class="block-content collapse in">
                                 <div class="alert alert-success">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
                            <h4>Welcome (username!!!)</h4>
                        	We are happy to have you back into you HOMEDirect online Banking applications, On your left pane, you will see the different operations that you can carry out. Feel free to contact us if you face any difficulty 
                        	<p>Enjoy!!!</p></div>
                            </div>
                        </div>
                        <!-- /block -->
                    </div>
                  
            <hr>
            <footer>
                <p>&copy; HOMEDirect</p>
            </footer>
        </div>